@model _DbEntities.Models.RegisterViewModel
@{
    ViewBag.Title = "Kayıt Ol";
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title.</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="~/Content/assets/css/normalize.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="~/Content/assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="~/Content/assets/scss/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="~/Content/RegisterRadioBtn.css" rel="stylesheet" />
    <style type="text/css">
        .validation-summary-errors li {
            list-style: none;
            margin: 0;
            font-size: 15px;
            font-style: oblique;
            padding: 5px -10px 5px 0px;
        }
    </style>
</head>
<body class="bg-dark">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="sufee-login d-flex align-content-center flex-wrap">
            <div class="container">
                <div class="login-content">
                   
                    <div class="login-logo">
                        <a href="index.html">
                            <img class="align-content" src="images/logo.png" alt="">
                        </a>
                    </div>
                    <div class="login-form">
                        <form>
                            @Html.ValidationSummary(false, "", new { @class = "text-danger text-center" })
                            <div class="form-group">
                                <div class="funkyradio">
                                    <div class="funkyradio-default">
                                        <input type="radio" name="radio" id="radio1" value="Hasta" />
                                        <label for="radio1">Hasta Olarak Kayıt Ol</label>
                                    </div>
                                    <div class="funkyradio-primary">
                                        <input type="radio" name="radio" id="radio2" value="Bagisci" />
                                        <label for="radio2">Bağışçı Olarak Kayıt Ol</label>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label>E-Posta</label>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Ad</label>
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Soyad</label>
                                @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Telefon</label>
                                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", maxlength = "11", placeholder = "05XX-XXX-XX-XX" })
                            </div>
                            <div class="form-group">
                                <label>Şifre</label>
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Şifre Tekrar</label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Agree the terms and policy
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Register</button>
                            <div class="register-link m-t-15 text-center">
                                <p>Already have account ? <a href="#"> Sign in</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }

    <script src="~/Content/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/plugins.js"></script>
    <script src="~/Content/assets/js/main.js"></script>


</body>
</html>