@model Bagisla.Models.ViewModel.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="~/Content/css/RegisterPage.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Bağışçı Olarak</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Hasta Olarak</a>
                            </div>
                        </div>
                        <div><h2 class="text-center"> Kayıt Ol</h2></div>
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                             
                                @using (Html.BeginForm("BagisciKayit", "Account", FormMethod.Post, new { id = "login-form", style = "" }))
                                {
                                    @Html.AntiForgeryToken()
                                    /**/

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-md-12" style="padding-bottom:10px">

                                                @Html.TextBoxFor(m => m.User.Email, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Email Giriniz.", required = "required" })
                                               
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.PasswordFor(m => m.User.Password, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Parolo Giriniz.", required = "required" })
                                    
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.PasswordFor(m => m.User.ConfirmPassword, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Parolo Tekrar Giriniz.", required = "required" })
                                         
                                            </div>

                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.BD.Ad, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Ad Giriniz.", required = "required" })
                                              
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.BD.Soyad, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Soyad Giriniz", required = "required" })
                                        
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.BD.Tel, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Telefon Numaranızı Giriniz", required = "required" })
                                             
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.BD.Meslek, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Meslek Giriniz", required = "required" })
                                               
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.BD.Adres, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Adres Giriniz", required = "required" })
                                            
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.BD.DogumTarihi, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Doğum Tarihi Giriniz", required = "required" })
                                             

                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                <button type="submit" class="form-control btn btn-success"><span class="glyphicon glyphicon-log-in"></span> Kayıt Ol</button>
                                            </div>
                                        </div>
                                    </div>

                                }
                                @using (Html.BeginForm("HastaKayit", "Account", FormMethod.Post, new { id = "register-form", style = "display:none" }))
                                {
                                    /**/
                                    @Html.AntiForgeryToken()
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.User.Email, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Email Giriniz.", required = "required" })
                                              
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.PasswordFor(m => m.User.Password, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Parolo Giriniz.", required = "required" })
                                           
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.PasswordFor(m => m.User.ConfirmPassword, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Parolo Tekrar Giriniz.", required = "required" })
                                             
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.HD.Ad, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Ad Giriniz", required = "required" })
                                              
                                            </div>

                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.HD.Soyad, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Soyad Giriniz", required = "required" })
                                           
                                            </div>

                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.HD.Yas, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Yaş Giriniz", required = "required" })
                                              


                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.HD.Cinsiyet, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Cinsiyet", required = "required" })
                                         
                                            </div>

                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.HD.DogumTarihi, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Doğum Tarihi Giriniz", required = "required" })
                                             
                                            </div>

                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.HD.KanGrubu, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Kan Grubu", required = "required" })
                                        
                                            </div>

                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.HD.SaglikDurumu, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Sağlık Durumu Giriniz", required = "required" })
                                           
                                            </div>

                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.HD.Meslek, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Meslek Giriniz", required = "required" })
                                               
                                            </div>

                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.HD.Adres, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "Adres Giriniz", required = "required" })
                                             
                                            </div>

                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.HD.Il, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "İl", required = "required" })

                                            </div>

                                            <div class="col-md-12" style="padding-bottom:10px">
                                                @Html.TextBoxFor(m => m.HD.Ilce, new { data_msg_required = "Gerekli", @class = "form-control", placeholder = "İlçe", required = "required" })
                                            
                                            </div>
                                            <div class="col-md-12" style="padding-bottom:10px">
                                                <button type="submit" class="form-control btn btn-success"><span class="glyphicon glyphicon-log-in"></span> Kayıt Ol</button>
                                            </div>
                                        </div>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/RegisterPage.js"></script>
</body>
</html>
