@model List<Bagisla.Models.HastaDetay>
@{ 
    Layout = null;
}

@foreach (var item in Model)
{

    <div class="col-md-3">
            <div class="portfolio-item">
                <a href="#popupProject" data-portfolio-on-modal>
                </a>
                <!-- Popup Project - Start -->
                <div id="popupPrfaoject" class="popup-inline-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio-title">
                                <div class="row">
                                    <div class="portfolio-nav-all col-md-1">
                                        <a href="#" data-portfolio-close><i class="fa fa-th"></i></a>
                                    </div>
                                    <div class="col-md-10 center">
                                        <h2 class="mb-none">              </h2>
                                    </div>
                                    <div class="portfolio-nav col-md-1">
                                        <a href="#" data-portfolio-prev class="portfolio-nav-prev"><i class="fa fa-chevron-left"></i></a>
                                        <a href="#" data-portfolio-next class="portfolio-nav-next"><i class="fa fa-chevron-right"></i></a>
                                    </div>
                                </div>
                            </div>

                            <hr class="tall">
                        </div>
                    </div>

                    @*açılan say baslanıç*@
                
                    @*Popup baslanıç*@
                </div>
                <!-- Popup Project - End -->
            </div>
            <div class="portfolio-item">
                <a href="#popupProject_@item.ID" data-portfolio-on-modal>
                    <span class="thumb-info thumb-info-lighten">
                        <span class="thumb-info-wrapper">
                            <img src="~/Content/img/projects/project-1.jpg" class="img-responsive" alt="">
                            <span class="thumb-info-title">
                                <span class="thumb-info-inner">@item.Ad</span>
                                <span class="thumb-info-type">Doktor Adi Buraya Gelecek</span>
                            </span>
                            <span class="thumb-info-action">
                                <span class="thumb-info-action-icon"><i class="fa fa-plus-square"></i></span>
                            </span>
                        </span>
                    </span>
                </a>
                <!-- Popup Project 2 - Start -->
                <div id="popupProject_@item.ID" class="popup-inline-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="portfolio-title">
                                <div class="row">
                                    <div class="portfolio-nav-all col-md-1">
                                        <a href="#" data-portfolio-close><i class="fa fa-th"></i></a>
                                    </div>
                                    <div class="col-md-8 center">
                                        <h2 class="mb-none">@item.Ad @item.Soyad</h2>
                                    </div>
                                   
                                </div>
                            </div>

                            <hr class="tall">
                        </div>
                    </div>

                    <div class="row mb-xl">
                        <div class="col-md-4">

                            <div class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'margin': 10, 'animateOut': 'fadeOut', 'autoplay': true, 'autoplayTimeout': 3000}">
                                <div>
                                    <span class="img-thumbnail">
                                        <img alt="" class="img-responsive" src="~/Content/img/projects/project-1.jpg">
                                    </span>
                                </div>
                                <div>
                                    <span class="img-thumbnail">
                                        <img alt="" class="img-responsive" src="~/Content/img/projects/project-1-2.jpg">
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-8">

                            <div class="portfolio-info">
                                <div class="row">
                                    <div class="col-md-12 center">
                                        <ul>
                                            <li>
                                                <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-calendar"></i> 01 January 2017
                                            </li>
                                            <li>
                                                <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                          
                            <h5 class="mt-sm">@item.Ad @item.Soyad</h5>
                            <p class="mt-xlg"> @item.SaglikDurumu</p>

                            <a href="#" class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Hasta Detayına Git</a>

                            <ul class="portfolio-details">
                                
                            </ul>

                        </div>
                    </div>
                </div>
                <!-- Popup Project 2 - End -->
            </div>
        <hr class="tall">
    </div>

}


